html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 400%;
  margin: 50px 0;
}

#game__mainTag {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1080px;
  height: 100vh;
  margin: 0 auto;
}

.square {
  display: flex;
  height: 300px;
  width: 300px;
  border: 1px solid black;
  font-size: 1000%;
  justify-content: center;
  align-items: center;
}

.playAgain__button {
  background-color: #5070aa;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 150%;
  position: absolute;
  top: 47%;
  left: 43%;
}
