html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game__mainTag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}

.square {
    height: 300px;
    width: 300px;
    border: 1px solid black;
}